.howToHeader{
    color: var(--light-blue);
}

.instructions {
    color: white;}

.goBackButton{
    background-color: var(--light-blue);
    border: var(--light-blue) solid 1px;
    height: 23.35px;
    border-radius: 10px;
}